src/main/resources/soap.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://localhost:8080/BankWebService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8080/BankWebService" targetNamespace="http://localhost:8080/BankWebService">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://localhost:8080/BankWebService">
<xs:element name="refundAccountRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="account" type="xs:long"/>
<xs:element name="amount" type="xs:double"/>
<xs:element name="origin" type="xs:long"/>
<xs:element name="details" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="refundAccountResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="status" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="chargeAccountRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="account" type="xs:long"/>
<xs:element name="amount" type="xs:double"/>
<xs:element name="origin" type="xs:string"/>
<xs:element name="details" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="chargeAccountResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="status" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
</wsdl:types>
<wsdl:message name="refundAccountRequest">
<wsdl:part element="tns:refundAccountRequest" name="refundAccountRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="refundAccountResponse">
<wsdl:part element="tns:refundAccountResponse" name="refundAccountResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="chargeAccountRequest">
<wsdl:part element="tns:chargeAccountRequest" name="chargeAccountRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="chargeAccountResponse">
<wsdl:part element="tns:chargeAccountResponse" name="chargeAccountResponse"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="BankPort">
<wsdl:operation name="refundAccount">
<wsdl:input message="tns:refundAccountRequest" name="refundAccountRequest"> </wsdl:input>
<wsdl:output message="tns:refundAccountResponse" name="refundAccountResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="chargeAccount">
<wsdl:input message="tns:chargeAccountRequest" name="chargeAccountRequest"> </wsdl:input>
<wsdl:output message="tns:chargeAccountResponse" name="chargeAccountResponse"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="BankPortSoap11" type="tns:BankPort">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="refundAccount">
<soap:operation soapAction=""/>
<wsdl:input name="refundAccountRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="refundAccountResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="chargeAccount">
<soap:operation soapAction=""/>
<wsdl:input name="chargeAccountRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="chargeAccountResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="BankPortService">
<wsdl:port binding="tns:BankPortSoap11" name="BankPortSoap11">
<soap:address location="http://localhost:8080/ws"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>